body{
	background-color:maroon;
	width:800px;
}
#iframe{
	display:inline-block;
	border:5px solid black;
}
#links{
	display:inline-block;
	position: absolute;
    left: 380px;
    top: 120px;
    border:5px solid yellow;
    border-radius: 25px;
	
}
ul li a{
	text-decoration:none;
   font-size:2rem;
   color:white;

}
ul li{
   text-decoration:none;
   font-size:3rem;
   color:white;
   
}
ul li:visited{
	text-decoration:none;
   font-size:3rem;
   color:white;

}
h1{
	color:yellow;
	font-size:3rem;
	text-align:center;
}
ul{
	list-style-type:none;
